name: Test generated image

on:
  push:
    branches:
      - "6.0.x"
  pull_request:
    branches:
      - "6.0.x"

jobs:

  test:
    runs-on: ubuntu-latest
    environment: DOCKER_HUB

    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            plone/plone-backend
          tags: |
            type=raw,value=test

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image for testing
        uses: docker/build-push-action@v3
        with:
          context: ./
          file: Dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          load: true

      - name: Test
        run: |
          ./test/run.sh plone/plone-backend:test
